﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.btn {
    border-radius: 1.078em;
}
.btn-primary {
    color: #fff;
    background-color: #226be8;
    border-color: #226be8;
}
.form-control {
    border-radius: 1.078em;
}

.navbar-inverse {
    background-color: #0f0233;
    border-color: #0f0233;
    /*#0f0233 #226be8 */
}
.navbar-fixed-top, .navbar-fixed-bottom {
    border-radius: 1.078em;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
   
    background-color: #060115;
}
.input-validation-error {
    border: 2px solid red;
}

/*Page-level Styles*/
.itemCategory {
    list-style: decimal-leading-zero;
}
.itemCategory > li {
    position: relative;
    margin-bottom: 30px;
}

.itemCategory > li .itemClass {
        background: #0f0233;
        color: ghostwhite;
        text-align: center;
        width: 200px;
        border-radius: 1.5em;
    }

.itemCategory > li .itemClass .itemGroup {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    padding: 2px 6px;

}

    .itemCategory > li .itemClass .itemName {
        background: #dbdbdb;
        color: black;
        padding: 6px 12px;
        font-weight: bold;
        border-bottom-left-radius: 1.5em;
        border-bottom-right-radius: 1.5em;
    }

.itemCategory > li .js-fav {
        position: absolute;
        top: 14px;
        left: 230px;
        display: none;
}

.itemCategory > li:hover .js-fav{

        display:block;
}
#searchParties {
    width: 300px;
}