﻿@model ElectionApp.ViewModels.CastVotesViewModel

@{
    ViewBag.Title = "CastAVote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cast A Vote</h2>

@using (Html.BeginForm("Create", "CastVotes"))
{

    @Html.AntiForgeryToken()
    <hr />
    <div class="form-horizontal">
        <div class="form-group">
            <div class="input-group" id ="searchParties">
                @Html.TextBoxFor(m => m.SearchTerm, new {@class = "form-control", autofocus = "autofocus" })
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
            </div>
        </div>

        <ul class="itemCategory">
            @foreach (var party in Model.Parties)
            {
                <li>
                    <div class="itemClass">
                        <div class="itemGroup">
                            @party.Acronym
                        </div>
                        <div class="itemName">
                            @party.Representative
                        </div>
                    </div>
                    <div class="rdo-btn js-fav">
                        @Html.RadioButtonFor(m => m.PartyId, @party.Id, new { id = @party.PartyName })
                    </div>
                </li>
            }
        </ul>
    <div class="form-group">
        <div class="col-md-offset-1">
            <button type="submit" class="btn btn-primary"> Cast Vote </button>
        </div>
    </div>
    </div>

        }


