﻿@model ElectionApp.ViewModels.FavouriteFoodsViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Select Favourite Food</h4>

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Voter.UserId)

        <ul class="itemCategory">
            @foreach (var food in Model.Foods)
            {
                <li>
                    <div class="itemClass">
                        <div class="itemGroup">
                            @food.Id
                        </div>
                        <div class="itemName">
                            @food.FoodName
                        </div>
                    </div>
                    <div class="form-group js-fav">
                        <button data-id="@food.Id" type="submit" 
                         class="btn btn-default js-toggle-fav"> Favourite? </button>
                    </div>
                </li>
            }
        </ul>
    </div>
<div>
    @Html.ActionLink("View Favourite Foods", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $(".js-toggle-fav").click(function (e) {
                var fav = $(e.target);
                $.post('@Url.Action("Create","FavouriteFoods")', { foodId: fav.attr("data-id") })
                    .done(function () {
                        fav.parents("li").fadeOut(function () {
                            $(this).remove();
                        });
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });
            //AddFavouriteFoods();

        });
    </script>
}
