﻿@model ElectionApp.ViewModels.FavouriteFoodsViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Edit Favourite Food </h4>


@using (Html.BeginForm())
{
    <hr />
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.FavouriteId)
    <div class="form-horizontal">

        <ul class="itemCategory">
            @foreach (var food in Model.Foods)
            {
                <li>
                    <div class="itemClass">
                        <div class="itemGroup">
                            @food.Id
                        </div>
                        <div class="itemName">
                            @food.FoodName
                        </div>
                    </div>
                    <div class="form-group js-fav">
                        @Html.RadioButtonFor(m => m.SelectedFoodId, @food.Id, new { id = @food.FoodName })
                    </div>
                </li>
            }
        </ul>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-11">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
