﻿@model IEnumerable<ElectionApp.Models.FavouriteFood>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4> My Favourite Foods</h4>

<p>
    @Html.ActionLink("Add Favourite Food", "Create")
</p>
<ul class="itemCategory">

    @foreach (var item in Model)
    {
        <li>
            <div class="itemClass">
                <div class="itemGroup">
                    @item.Food.FoodName
                </div>
                <div class="itemName">
                    @item.Food.Id
                </div>
            </div>

            <div class="form-group js-fav">
                <div>
                    <a href="@Url.Action("Edit", "FavouriteFoods", new {id = item.Id})">
                        Change
                    </a>
                </div>
                <div>
                    <a href="#" class="js-remove" data-id="@item.Id"> 
                        Remove 
                    </a>
                </div>
            </div>
        </li>
    }
</ul>

@section Scripts {
    <script>
        $(document).ready(function () {

            ConfirmFoodRemoval();
        });

    </script>

}