﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Election App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Content/cssjqryUi")
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Election App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                @if (Request.IsAuthenticated)
                {
                    if (User.IsInRole("CanManageParties"))
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Manage Parties", "Index", "Parties")</li>
                            <li>@Html.ActionLink("Manage Foods", "Index", "Foods")</li>
                            <li>@Html.ActionLink("Election Results", "Results", "ElectionResults")</li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Registration Details", "Index", "Voters")</li>
                            <li>@Html.ActionLink("Cast A Vote", "CastAVote", "CastVotes")</li>
                            <li>@Html.ActionLink("Favourite Foods", "Index", "FavouriteFoods")</li>
                        </ul>
                    }

                }
                else
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Voter Registration", "CreateVoter", "Voters")</li>
                    </ul>
                }

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Election App &copy; @DateTime.Now.Year </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/electionApp")

    @RenderSection("scripts", required: false)
</body>
        </html>
