﻿@model IEnumerable<ElectionApp.ViewModels.ElectionResultsViewModel>
@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Election Results</h2>

@using (Html.BeginForm())
{
    <hr />
    <table class=" table table-bordered table-hover">
        <tr>
            <th> @Html.DisplayNameFor(model => model.PartyName)</th>
            <th> @Html.DisplayNameFor(model => model.Acronym)</th>
            <th> @Html.DisplayNameFor(model => model.Votes)</th>
        </tr>
        @foreach (var result in Model)
        {
        <tr>
            <td> @Html.DisplayFor(modelItem => result.PartyName)</td>
            <td> @Html.DisplayFor(modelItem => result.Acronym) </td>
            <td> @Html.DisplayFor(modelItem => result.Votes)</td>
        </tr>
        }
    </table>
}


