﻿@model ElectionApp.ViewModels.CreateVoterViewModel

@{
    ViewBag.Title = "CreateVoter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Voter Registration</h2>

@using (Html.BeginForm("Create", "Voters"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Voter.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Voter.Surname, new { @class = "form-control", autofocus = "autofocus" })
                @Html.ValidationMessageFor(m => m.Voter.Surname, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Voter.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Voter.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Voter.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Voter.IdNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Voter.IdNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Voter.IdNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Voter.ContactNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Voter.ContactNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Voter.ContactNumber, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Voter.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Voter.DateOfBirth, new { @class = "form-control date-picker", @id = "dob" })
                @Html.ValidationMessageFor(m => m.Voter.DateOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Voter.Age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Voter.Age, new { @class = "form-control", @id = "Age" })
                @Html.ValidationMessageFor(m => m.Voter.Age, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Voter.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="radio-inline">
                    @Html.RadioButtonFor(m => m.Voter.Gender, "M", new { id = "IsMale" })Male
                </div>
                <div class="radio-inline">
                    @Html.RadioButtonFor(m => m.Voter.Gender, "F", new { id = "IsFemale" })Female
                </div>
                @Html.ValidationMessageFor(m => m.Voter.Gender, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Voter.RaceId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Voter.RaceId, new SelectList(Model.Races, "Id", "RaceName"), "Select Race", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Voter.RaceId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Voter.ProvinceId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Voter.ProvinceId, new SelectList(Model.Provinces, "Value", "Text"), new { @class = "form-control", @id = "Province" })
                @Html.ValidationMessageFor(m => m.Voter.ProvinceId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Voter.DistrictId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Voter.DistrictId, new SelectList(Model.Districts, "Value", "Text"), new { @class = "form-control", @id = "District" })
                @Html.ValidationMessageFor(m => m.Voter.DistrictId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Voter.MunicipalityId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Voter.MunicipalityId, new SelectList(Model.Municipalities, "Value", "Text"), new { @class = "form-control", @id = "Municipality" })
                @Html.ValidationMessageFor(m => m.Voter.MunicipalityId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Voter.RegistrationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Voter.RegistrationDate, new { @class = "form-control", @id = "datepicker" })
                @Html.ValidationMessageFor(m => m.Voter.RegistrationDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Register to Vote</button>
            </div>
        </div>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
$(document).ready(function () {
            var selectedProvince = $('#Province');
            var selectedDistrict = $('#District');
            var selectedMunicipality = $('#Municipality');

            selectedDistrict.prop('disabled', true);
            selectedMunicipality.prop('disabled', true);


        selectedProvince.change(function () {
        if ($(this).val() === "-1") {

            selectedDistrict.empty();
            selectedMunicipality.empty();
            selectedDistrict.append($('<option/>', {
                value: -1,
                text: 'Select District'
            }));
            selectedMunicipality.append($('<option/>', {
                value: -1,
                text: 'Select Municipality'
            }));
            selectedDistrict.val('-1');
            selectedMunicipality.val('-1');
            selectedDistrict.prop('disabled', true);
            selectedMunicipality.prop('disabled', true);
        } else {
            $.getJSON('@Url.Action("GetDistrictsByProvinceId")', {
                ProvinceId: $(this).val()
            },
                function (districts) {
                    selectedDistrict.empty();
                    selectedDistrict.append($('<option/>', {
                        value: -1,
                        text: 'Select District'
                    }));
                    selectedDistrict.prop('disabled', false);
                    $.each(districts, function (index, district) {
                        selectedDistrict.append($('<option/>', {
                            value: district.Value,
                            text: district.Text
                        }));
                    });
                });
        }

    });

    selectedDistrict.on('change', function () {
        if ($(this).val() === "-1") {
            selectedMunicipality.empty();
            selectedMunicipality.append($('<option/>', {
                value: -1,
                text: 'Select Municipality'
            }));
            selectedMunicipality.val('-1');
            selectedMunicipality.prop('disabled', true);
        } else {
            $.getJSON('@Url.Action("GetMunicipalitiesByDistrictId")', {
                DistrictId: $(this).val()
            },
                function (municipalities) {
                    selectedMunicipality.empty();
                    selectedMunicipality.append($('<option/>', {
                        value: -1,
                        text: "Select Municipality"
                    }));
                    selectedMunicipality.prop('disabled', false);
                    $.each(municipalities, function (index, municipality) {
                        selectedMunicipality.append($('<option/>', {
                            value: municipality.Value,
                            text: municipality.Text
                        }));
                    });
                });
        }
    });
            DateOfBirth();
            RegistrationDate();
            ValidateDatesInChrome();
            CalculateVoterAge();
        });

    </script>

}

