﻿@model ElectionApp.Models.Voter

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.FirstName Details</h2>

 <hr />
 <ul>
     <li>@Model.FirstName @Model.Surname</li>
     <li>@Model.DateOfBirth</li>
     <li>@Model.Age</li>
     <li>@Model.Gender</li>
     <li>@Model.Race.RaceName</li>
     <li>@Model.Province.ProvinceName</li>
     <li>@Model.District.DistrictName</li>
     <li>@Model.Municipality.MunicipalityName</li>
     <li>@Model.RegistrationDate</li>
 </ul>
 <div class="form-group">
     <div>
        <a href="@Url.Action("EditVoter", "Voters", new {id = Model.UserId})">
             Edit Details
         </a>
     </div>
 </div>     



